.wrapper {
  width: 100%;
  max-width: 700px;
  margin: auto;
}
.match-card-wrapper {
  padding: 10px 8px 10px 9px;
  background-color: aliceblue;
  margin: 5px;
}
.match-card-wrapper .date {
  text-align: center;
  font-weight: 700;
  font-size: 17px;
  margin-bottom: 3px;
}
.card {
  display: flex;
}

.card > div {
  flex: 1 1 0px;
}

.card > div:first-child {
  text-align: right;
}
.card > div:nth-child(2) {
  text-align: center;
}
