.container {
  height: 320px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  background-color: white;
}

.wrapper-competiton-card {
  width: 280px;
  margin: 5px auto 5px auto;
  background-color: antiquewhite;
  height: calc(100% - 10px);
}

.background-image {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.competition-name {
  text-align: center;
  padding: 8px 4px 8px 4px;
}
