.container {
  height: 320px;
  margin: 10px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  background-color: white;
}

.wrapper-competiton-card {
  width: 280px;
  margin: auto;
}

.background-image {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px;
}

.competition-name {
  width: 280px;
  text-align: center;
}
